<mat-card style="width: 90%;">
    <span *ngIf="post.image  && post.image.url != 'self'">
        <img src={{post.image.url}} class="mat-card-image">
    </span>
    <span *ngIf="!post.image">
        <span *ngIf="post.thumbnail">
            <img src={{post.thumbnail.url}} class="mat-card-image">
        </span>
        <span *ngIf="!post.thumbnail">
            <img src="./assets/angular.png" class="mat-card-image">
        </span>
    </span>
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.author}}</mat-card-subtitle>
    </mat-card-header>


    <mat-card-content>
        <p *ngIf="post.body">{{post.body}}</p>
    </mat-card-content>
    <div class="mat-actions" layout="row" layout-align="end center">
        <button mat-button mat-raised-button color="success">Up</button>
        <button mat-button mat-raised-button color="warning">Down</button>
    </div>
</mat-card>